:root {
    --primary-color: blueviolet;
}

body {
    display: flex;
    justify-content: center;
    padding: 3vh;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none;
    /* will not prevent events on body elements */
    pointer-events: none;
}

caption {
    font-family: cursive;
    font-size: 3vh;
    font-weight: 700;
    padding-bottom: 4vh;
}

table {
    border-collapse: collapse;
    border: 3px solid black;
}

td {
    padding: 1vw;
    background-color: darkgray;
}

/* the first and last ceil in every row  */
table tr td:first-child,
table tr td:last-child,
/* the first and last ceil in every column  */
table tr:nth-child(2) td,
table tr:nth-last-child(1) td {
    background-color: var(--primary-color);
}

#player,
.ball {
    max-width: 2vw;
}

p {
    font-size: 4vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}

#score-img {
    max-height: 7vh;
}

#score-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 6vh;
    gap: 1vw;
    left: 5vw;
    position: absolute;
}

#header-operators {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 6vh;
    gap: 4vw;
    right: 8vw;
    position: absolute;
}

.iconify {
    color: var(--primary-color);
    font-size: 5vh;
    left: 0;
    cursor: pointer;
}